@model DO_AN.Models.Danhgia

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-width: 100%;
        padding: 0 15px;
    }

    .table-bordered {
        border: 2px solid #000;
    }

        .table-bordered thead th {
            border: 2px solid #000;
            text-align: center;
            font-size: 24px; /* Tăng kích thước chữ */
        }

    a:hover {
        color: inherit !important;
    }
</style>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2" style="border: 2px solid #000;">Xóa đánh giá</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h3 style="color:red">Bạn hãy chắc chắn với quyết định của mình. Vì khi xóa dữ liệu sẽ mất hoàn toàn!!!</h3>
                    <div>
                        <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MakhNavigation.Tenkh)
        </dd>
        <dt class="col-sm-2">
            Tour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatourNavigation.Tentour)
        </dd>
        <dt class = "col-sm-2">
            Nội dung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noidungdanhgia)
        </dd>
        <dt class = "col-sm-2">
            Sao
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sosao)
        </dd>
        <dt class = "col-sm-2">
            Thời gian đánh giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thoigiandanhgia)
        </dd>
        
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Makh" />
        <input type="hidden" asp-for="Matour" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
